angular/project/node_modules
angular/project/bower_components
angular/jayProject/node_modules
angular/jayProject/bower_components
angular/JAYProject2/node_modules
angular/JAYProject2/bower_components
angular/jayProject3/node_modules
angular/jayProject3/bower_components