@keyframes scroll-Content{
    0% {
        left:-60%;
    }
    20% {
        left:-30%;
    }
    40% {
        left:0%;
    }
    60% {
        left:30%
    }
    80% {
        left:45%;
    }
    100%{
        left:60%
    }

    position:fixed;
}

.scroll-content{
    position: relative;
    -webkit-animation: scroll-Content 20s infinite;
    -moz-animation: scroll-Content 20s infinite;
    -o-animation: scroll-Content 20s infinite;
    -ms-animation: scroll-Content 20s infinite;
    animation: scroll-Content 20s infinite;
}
#main-header:hover{
    position:absolute;
   -webkit-animation:rotateZ(150deg);
   -moz-animation:rotateZ(150deg);
   -o-animation:rotateZ(150deg);
   -ms-animation:rotateZ(150deg);
   animation:rotateZ(150deg);
}
#main-header{
    -webkit-transition-timing-function:ease-in-out;
    -moz-transition-timing-function:ease-in-out;
    -o-transition-timing-function:ease-in-out;
    -ms-transition-timing-function:ease-in-out;
    transition-timing-function: ease-in-out;

    -webkit-transition: width 2;
    -moz-transition: width 2;
    -o-transition: width 2;
    -ms-transition: width 2;
    transition: width 2;
}